<div class="card-deck">

  <div class="row">
    <% data.animals.map(dog => { %>
      <div class="col-sm-4">
        <div class="card mb-3">
          <button onclick=<%= () => console.log('clicked pic') %>>
            <img class="card-img-top" src=<% if (dog.primary_photo_cropped !== null) { %>
             <%= dog.primary_photo_cropped.full %>
             <% } else { %>
              <%= '' %>
              <% } %> 
            alt="Card image cap">
          </button>
          <div class="card-body">
            <h5 class="card-title"><%= dog.name ? dog.name : 'No Name' %></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add to favourites</a>
          </div>
        </div>
      </div>
  
    <% }) %>
  </div>
</div>
