<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-1 mb-3">
  <a class="navbar-brand" href="/">Pet Finder API</a>
  <!-- <ul class="navbar-nav mr-auto"> -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <form method="GET">
        <a class="nav-link" role="button" type="submit" value="2" href="/dogs-for-adoption">Dogs</a>
      </form>
    </li>
    <li class="nav-item">
      <form method="GET">
        <a class="nav-link" role="button" type="submit" value="2" href="/cats-for-adoption">Cats</a>
      </form>
    </li>
    <div class="content authorized" style="display: none;">
      <li class="nav-item">
        <form method="GET">
          <a class="nav-link content authorized" role="button" type="submit" value="2" href="/user/favourites-list">Favourites</a>
        </form>
      </li>  
    </div>
  </ul>

  <% if (reqUrl === '/dogs-for-adoption' || reqUrl === '/cats-for-adoption') { %>
    <div>
      <form action="<%= reqUrl %>/search-by-name" method="POST">
        <input 
          name="petNameSearch" 
          class="form-control mr-sm-2" 
          type="search" 
          placeholder="Search by pet name" 
          aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
    <% } else if (reqUrl === '/dogs-for-adoption/search-by-name'|| reqUrl === '/cats-for-adoption/search-by-name') { %>
      <div>
        <form action="<%= reqUrl %>" method="POST">
          <input 
            name="petNameSearch" 
            class="form-control mr-sm-2" 
            type="search" 
            placeholder="Search by pet name" 
            aria-label="Search">
        </form>
      </div>
    <% } %>
   
  
  <div class="content unauthorized" style="">
    <form method="GET">
      <a class="nav-link" role="button" type="submit" href="/login">Login</a>
    </form>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="content unauthorized" style="">
    <form>
      <a class="nav-link" role="button" type="submit" href="/sign-up-page">Sign Up</a>
    </form>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="content authorized" style="display: none;">
    <form>
      <a class="nav-link" role="button" type="submit" href="/logout">Log Out</a>
    </form>
  </div>
  &nbsp;
<%= console.log('req urL: ', reqUrl); %>
</nav>

<script>
  const cookies = document.cookie;
  const show = (selector) => {
    const queryTags = document.querySelectorAll(selector)

    for (let i = 0; i < queryTags.length; i++) {
      queryTags[i].style.display = 'block'
    };
  };

  const hide = (selector) => {
    const queryTags = document.querySelectorAll(selector)

    for (let i = 0; i < queryTags.length; i++) {
      queryTags[i].style.display = 'none'
    };
  };

  if (cookies.includes('currentUser')) {
    hide('.content.unauthorized');
    show('.content.authorized');
  }
</script>