<div class="row">
  <!-- <div class="card-deck"> -->
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dogs</h5>
        <p class="card-text">Click below to search for adoptable dogs</p>
        <a href="/dogs-for-adoption" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cats</h5>
        <p class="card-text">Click below to search for adoptable cats</p>
        <a href="/dogs-for-adoption" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <!-- </div> -->

</div>