<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Age
  </button>
  <ul class="dropdown-menu">
    <div class="form-check">
      <input name="ageInput" class="form-check-input" type="checkbox" value="Young" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Young
      </label>
    </div>
    <div class="form-check">
      <input name="ageInput" class="form-check-input" type="checkbox" value="Adult" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Adult
      </label>
    </div>
    <div class="form-check">
      <input name="ageInput" class="form-check-input" type="checkbox" value="Senior" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Senior
      </label>
    </div>
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" value="xlarge" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        X-Large
      </label>
    </div> -->
  </ul>
</div>