<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Breed
  </button>
  <ul class="dropdown-menu">
    <div class="form-check">
      <% if (breeds !== undefined) { %>
        <% breeds.map((breed) => { %>
          <input name="breedInput" class="form-check-input" type="checkbox" value="<%= breed.name %>" id="flexCheckDefault">
          <li class="form-check-label" for="flexCheckDefault">
            <%= breed.name %>
          </li>
        <% }) %>      
      <% } %>
    </div>
  </ul>
</div>