<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Colors
  </button>
  <ul class="dropdown-menu">
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Apricot / Beige" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Apricot / Beige
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Black" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Black
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Bicolor" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Bicolor
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Brindle" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Brindle
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Golden" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Golden
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Gray / Blue / Silver" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Gray / Blue / Silver
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Harlequin" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Harlequin
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Merle (Blue)" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Merle (Blue)
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Merle (Red)" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Merle (Red)
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Brown / Chocolate" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Brown / Chocolate
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Red / Chestnut / Orange" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Red / Chestnut / Orange
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Sable" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Sable
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Tricolor (Brown, Black, & White)" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Tricolor (Brown, Black, & White)
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="Yellow / Tan / Blond / Fawn" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Yellow / Tan / Blond / Fawn
      </label>
    </div>
    <div class="form-check">
      <input name="colorInput" class="form-check-input" type="checkbox" value="White / Cream" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        White / Cream
      </label>
    </div>
  </ul>
</div>