<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Size
  </button>
  <ul class="dropdown-menu">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="small" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Small
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="medium" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Medium
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="large" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Large
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="xlarge" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        X-Large
      </label>
    </div>
  </ul>
</div>