<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <div>
    <%- include('../partials/content-cards.ejs') %>
  </div>

  <div>
    <%- include('../partials/pagination.ejs') %>
  </div>
</body>
</html>