<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <h1>Login page</h1>

  <div class="container rounded pb-3 pt-3" style="max-width: 300px; background-color: lightgrey">
    <form action="/login-request" method="POST" id="firebase-form">
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input required name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
      </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input required name="password" type="password" class="form-control" id="passwordInput">
        </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>
  
</body>
</html>