<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <div>
    <%- include('../partials/profile-layout.ejs') %>
  </div>

</body>

</html>